.container
  = render 'shared/reporttable'

  .container
    .raw
      %h4= "By Branch"
      %ul.list-group
        -@branches.each do |b|
          %li.list-group-item
            %span.badge= b.second
            =link_to b.first, "/reports?branch=#{b.first}"

    .raw
      %h4= "By Platform"
      %ul.list-group
        -@platforms.each do |p|
          %li.list-group-item
            %span.badge= p.second
            =link_to p.first, "/reports?platform=#{p.first}"

    .raw
      %h4= "By App Type"
      %ul.list-group
        -@app_types.each do |t|
          %li.list-group-item
            %span.badge= t.second
            =link_to t.first, "/reports?app_type=#{t.first}"

    .raw
      %h4= "By Locale"
      %ul.list-group
        -@locales.each do |l|
          %li.list-group-item
            %span.badge= l.second
            =link_to l.first, "/reports?locale=#{l.first}"

    .raw
      %h4= "By Suite"
      %ul.list-group
        -@suites.each do |s|
          %li.list-group-item
            %span.badge= s.second
            =link_to s.first, "/reports?suite=#{s.first}"

    .raw
      %h4= "By Server"
      %ul.list-group
        -@servers.each do |s|
          %li.list-group-item
            %span.badge= s.second
            =link_to s.first, "/reports?server=#{s.first}"

  .container
    .raw
      =pie_chart @branches
    .raw
      =pie_chart @platforms
    .raw
      =pie_chart @app_types
    .raw
      =pie_chart @locales
    .raw
      =pie_chart @suites
    .raw
      =pie_chart @servers

  .container
    .charts_raw
      %h4="Total tests run"
      =pie_chart @total_results, height: "200px", colors: ["#5cb85c", "#d9534f", "#b1a0e3"]
    .charts_raw
      %h4="Run results"
      =pie_chart @result_per_run, height: "200px", colors: ["#5cb85c", "#f0ad4e", "#d9534f"]
    .charts_raw
      %h4="Top users"
      =pie_chart @users, height: "200px"

.navbar-fixed-bottom.row-fluid
  .container{:style=>"text-align: right; padding-bottom: 0px; padding-top: 0px;"}
    %button{:class=>"btn btn-success", :onclick=>"window.location.href='/testrunner'"}= "Run Tests"
    %span.badge= @total_count
