<div class="alert alert-success" role="alert" xmlns="http://www.w3.org/1999/html">
  <h4><span><%= image_tag("tick.png", :class=>'tick') %></span>Build #<span class="buildNumber"></span> Run!</h4>
</div>
<div class="alert alert-danger" role="alert">
  <h4>TestsRun Failed :(</h4>
</div>
<div class="ajaxBusy"><img src="<%= asset_path("ajax_loader.gif") %>"></div>
<div class="bg_layer"></div>
<div class="container">
  <div class="page-header">
    <ul class="pager">
      <li class="previous"><a href="/dashboard"><span aria-hidden="true">&larr;</span> To Dashboard</a></li>
      <li class="next"><a id="singIn" href="#">Sign In</a></li>
    </ul>
    <h1>Run Test <small>cause it's cool</small></h1>
    <div class="availableDevices">
      <span class="label label-warning" id="iPhone">iPhone</span>
      <span class="label label-warning" id="Nexus4">Nexus 4</span>
      <span class="label label-warning" id="Nexus7">Nexus 7</span>
      <button type="button" class="btn btn-primary" data-loading-text="checking..." id='check'>Check</button>
    </div>
  </div>
  <div class="params-container">
    <div class="dropdown" style="display: inline-block">
      <h4>Job</h4>
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span id="current_job"><%= @jobs.first.title %></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <% @jobs.each do |j| %>
        <li><a class="select-job"><%= j.title %></a></li>
      <% end %>
      </ul>
    </div>
    <div style="display: inline-block">
    <button class="btn" id="addJob" type="button" style="border-radius: 25px">+</button>
    </div>
    <h4>Server</h4>
    <div id="server">
      <ul class="nav nav-pills">
        <li class="list-group-item-info active"><a>Production</a></li>
        <li class="list-group-item-info"><a>Test</a></li>
      </ul>
    </div>
    <h4>Platform</h4>
    <div id="platform">
      <ul class="nav nav-pills">
        <li class="list-group-item-info active"><a>IOS</a></li>
        <li class="list-group-item-info"><a>Android</a></li>
      </ul>
    </div>
    <div class="collapse" id="devices">
      <h4>Choose Device</h4>
      <ul class="nav nav-pills">
        <li class="list-group-item-info active"><a>Nexus7</a></li>
        <li class="list-group-item-info"><a>Nexus4</a></li>
      </ul>
    </div>
    <div class="inline">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Branch</span>
        <input type="text" class="form-control" id="branch" value="default" placeholder="enter branch here..." aria-describedby="basic-addon3">
      </div>
    </div>
    <div class="inline">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Application Id</span>
        <input type="text" class="form-control" id="appId" value="4193" placeholder="enter application Id here..." aria-describedby="basic-addon3">
      </div>
    </div>
    <h4>Suites</h4>
    <div id="suite">
      <ul class="nav nav-pills">
        <li class="list-group-item-info active"><a>Smoke</a></li>
        <li class="list-group-item-info"><a>BigSmoke</a></li>
        <li class="list-group-item-info"><a>Networking</a></li>
        <li class="list-group-item-info"><a>Meetings</a></li>
      </ul>
    </div>
    <div class='tests' id="tests">
      <%= render partial: 'shared/tests', locals: {tests: @tests} %>
    </div>
    <!-- Modal Login-->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Use you Jenkins account</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter your username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter your password">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="loginButton">Login</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Add Job -->
    <div class="modal fade" id="addJobContainer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add New Jenkins Job</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="username">Job Name</label>
              <input type="text" class="form-control" id="jobName" placeholder="Enter job name">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" id="addJobButton">Add</button>
          </div>
        </div>
      </div>
    </div>
    <div class="run_section">
      <button class="btn btn-success btn-run" id="run">RUN!</button>
    </div>
  </div>
</div>
