<div class="alert alert-success" role="alert" xmlns="http://www.w3.org/1999/html">
  <h4><span><%= image_tag("tick.png", :class=>'tick') %></span>Build #<span class="buildNumber"></span> Run!</h4>
</div>
<div class="alert alert-danger" role="alert">
  <h4>TestsRun Failed :(</h4>
</div>
<div class="ajaxBusy"><img src="<%= asset_path("ajax_loader.gif") %>"></div>
<div class="bg_layer"></div>
<div class="container">
  <div class="page-header">
    <ul class="pager">
      <li class="previous"><a href="/dashboard"><span aria-hidden="true">&larr;</span> To Dashboard</a></li>
      <li class="next"><a id="singIn" href="#">Sign In</a></li>
    </ul>
    <h1>Run Test <small>cause it's cool</small></h1>
    <div class="availableDevices">
      <span class="label label-success activeDevice" id="IOS"">iOS</span>
      <span class="label label-success" id="Android">Android</span>
    </div>
  </div>
  <div class="params-container">
    <div class="dropdown" style="display: inline-block">
      <h4>Job</h4>
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <% if @jobs.nil? %>
        <span id="current_job">No Jobs yet :( Add new, dude!</span>
        <% else %>
        <span id="current_job"><%= @jobs.first.title %></span>
        <% end %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <% @jobs.each do |j| %>
        <li><a class="select-job"><%= j.title %></a></li>
      <% end %>
      </ul>
    </div>
    <div style="display: inline-block">
    <button class="btn" id="addJob" type="button" style="border-radius: 25px">+</button>
    </div>
    <h4>Server</h4>
    <div id="server">
      <ul class="nav nav-pills">
        <li class="list-group-item-info Production active"><a>Production</a></li>
        <li class="list-group-item-info Test"><a>Test</a></li>
      </ul>
    </div>
    <h4>Branch</h4>
      <div class="input-group">
        <input type="text" class="form-control" style="border-radius: 7px;" id="branch" value="default" placeholder="enter branch here..." aria-describedby="basic-addon3">
      </div>
    <h4>Application Type</h4>
    <div id="appType">
      <ul class="nav nav-pills">
        <li class="list-group-item-info active" id="Single"><a>Branded</a></li>
        <li class="list-group-item-info" id="Multi"><a>Multi-event</a></li>
        <li class="list-group-item-info" id="Pin"><a>Pin Access</a></li>
      </ul>
    </div>
    <h4>Application Id</h4>
     <div>
       <div class="toggle toggle-light"></div>
      </div>
      <div class="inline">
      <div class="input-group">
        <input type="text" class="form-control" style="border-radius: 7px;" id="appId" placeholder="enter application Id here..." aria-describedby="basic-addon3">
      </div>
    </div>
    <h4>Suites</h4>
    <div id="suite">
      <ul class="nav nav-pills">
        <% for i in 0..@feature.size-1 %>
        <% if i==0 %>
        <%= ("<li class=\"list-group-item-info #{@feature[i].title} active\">").html_safe %><a><%= @feature[i].title %></a></li>
        <% else %>
        <%= ("<li class=\"list-group-item-info #{@feature[i].title}\">").html_safe %><a><%= @feature[i].title %></a></li>
        <% end %>
        <% end %>
        <li><button class="btn" id="addSuite" type="button" style="border-radius: 25px">+</button></li>
      </ul>
    </div>
    <div class='tests' id="tests">
      <%= render partial: 'shared/tests', locals: {tests: @tests, head_tag: @head_tag} %>
    </div>
    <!-- Modal Login-->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Use you Jenkins account</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter your username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter your password">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="loginButton">Login</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Add Job -->
    <%= render 'shared/addjob' %>
    <%= render 'shared/editsuite', locals: {feature: @feature} %>
    <div class="run_section">
      <button class="btn btn-success btn-run" id="run">RUN!</button>
    </div>
  </div>
</div>
