.panel.panel-primary
 .panel-heading 
  %h4= @title
 %table.table
  %tr
   %th= "Date"
   %th= "Platform"
   %th= "Server"
   %th= "Branch"
   %th= "Suite"
   %th= "Tests"
   %th= "Device"
   %th= "User"
   %th= "Report"
   %th= "Build"
  -@reports.each do |r|
   %tr{:recordId=>r.id}
    %td= r.date.strftime("%d %b, %Y %H:%M")
    %td= r.platform
    %td= r.server
    %td= r.branch
    %td= r.suite
    %td= r.tests.gsub(",", " ") unless r.tests.nil?
    -if r.platform == "Android"
     %td= r.device
    -else
     %td= nil
    %td= r.user
    %td= link_to "link to report", r.link, :target => "_blank"
    %td= link_to "#{r.job} ##{r.build}", r.buildurl, :target => "_blank"
    %td
     %span.deleteRecord= image_tag("erase.png", :class=>'deleteButton')