:coffeescript
  $ ->
    $('.delete_scenario').click ->
      id = $(this).attr("id")
      parent_div = $(this).parents("div")[0]
      $.ajax
        url: 'api/scenarioparser/delete_scenario'
        type: 'DELETE'
        dataType: 'json'
        data: id: id
        success: () ->
          $(parent_div).fadeOut(200)

    $('#parse').click ->
      suite = $('.parse_area').val()
      feature = $('.feature.active').text()
      $.ajax
        url: 'api/scenarioparser/parse'
        type: 'POST'
        dataType: 'html'
        data: {
            suite: suite
            feature: feature
            }
        success: (response) ->
          $('.tests_container').html(response)


-if scenarios.empty?
  .addScenarioContainer
    %h4="Copy your scenario here"
    %div
      %textarea{:class=>"parse_area"}
    %div{:style=>"text-align: right"}
      %button{:class=>"btn btn-success", :id=>"parse"}="Parse"
-elsif edit
  .addScenarioContainer
    %h4="Copy your scenario for #{suite_title} here"
    %div
      %textarea{:class=>"parse_area"}="@#{suite_tag}\nFeature: #{suite_title}"
    %div{:style=>"text-align: right"}
      %button{:class=>"btn btn-success", :id=>"parse"}="Parse"
-else
  -scenarios.each do |s|
    %div
      -s.tags.split(",").each do |t|
        %span{:class=>"label label-info test"}= "@#{t}"
      %span{:class=>"badge delete_scenario", :id=>s.id}= "delete"
      %div
        %span{:class=>"keyword"}= "Scenario: "
        %span{:class=>"scenario_title"}= s.title
      %div{:style=>"margin-left:10px; white-space: normal;"}= s.steps.html_safe
