<script>
  (function() {
  $(function() {
    return $('#tests .label-info').click(function() {
      if (this.className.indexOf('test-active') > -1) {
        $(this).removeClass('test-active');
        if ($('.test-active').length < 1) {
          $('#all').addClass('test-active');
        }
      }
      else if ($(this).attr('id') != 'all') {
        $('#all').removeClass('test-active');
        $(this).addClass('test-active');
      }
      else if ($(this).attr('id') == 'all') {
        tests = $('.test-active')
        $(this).addClass('test-active');
        $.each(tests, function(e) {
          $(tests[e]).removeClass('test-active');
        });
      }
    });
  });
  getParams = function() {
    var j, key, len, params, query, raw_vars, ref, v, val;
    query = window.location.search.substring(1);
    raw_vars = query.split("&");
    params = {};
    for (j = 0, len = raw_vars.length; j < len; j++) {
      v = raw_vars[j];
      ref = v.split("="), key = ref[0], val = ref[1];
      params[key] = decodeURIComponent(val);
    }
    return params;
  };

  $(function() {
    $('.tooltips').mouseenter(function() {
      $(this).children('section').show();
    });
  });

  $(function() {
    $('.tooltips').mouseleave(function() {
      $(this).children('section').hide();
    });
  });

  $(function() {
      var params, tests;
      params = getParams();
      if (params['reply'] === 'true') {
        return $.ajax({
          url: 'testrunner/reply_failed',
          type: 'GET',
          dataType: 'json',
          data: {
            report_id: params['report_id'],
            tests: true
          },
          success: function(response) {
            tests = response['failed_tests'].split("&&");
            if (tests == "") {
              $("#all").addClass('test-active');
            }
            else {
              $('.test-active').removeClass('test-active');
              $.each(tests, function(e) {
                 $("#" + tests[e]).addClass('test-active');
              });
            }
          }
        });
      }
    });
  }).call(this);

</script>
<h4>Tests <span class="badge"><%= tests.size %></span></h4>
<div class="tag">
<%= ("<span id=\"all\" class=\"label label-info #{head_tag} test-active\">").html_safe %><%= head_tag %></span>
</div>
<% tests.each do |test|%>
 <div class="tag">
   <div class="tooltips" href="#">
   <%= ("<span class=\"label label-info scenario test\" id=\"#{test[1]}\">").html_safe %><%= test[1] %></span>
   <section class="tooltips-container"><div class="test_container">
     <% for i in 0..test.first.size-1 %>
     <%= test.first[i].html_safe %>
     <% end %>
   </div>
   </section>
 </div>
</div>
<% end %>
