%h4
	Tests
	%span.badge= scenarios_with_tags.size
.tag
	%span.headTag.label.label-info{id: "#{head_tag}", class: "test-active"}= head_tag
-scenarios_with_tags.each do |scenarios_with_tag|
	.tag.tooltips{href: "#"}
		%span.label.label-info.scenario.test{id: "#{scenarios_with_tag[:tag]}"}= scenarios_with_tag[:tag]
		%section.tooltips-container
			.test_container
				-scenarios_with_tag[:scenarios].each do |scenario|
					%div
						%span{class: "keyword"}= "Scenario:"
						%span{class: "scenario_title"}= scenario.title.html_safe
					%div{style: "margin-left: 5px"}= scenario.steps.html_safe