<!DOCTYPE html>
<html>
<head>
  <title>EventiciousReports</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<table>
  <tr>
  <th>Platform</th>
  <th>Branch</th>
  <th>Suite</th>
  <th>Link</th>
  </tr>
  <% @reports.each do |r| %>
      <tr>
        <td><%= r.platform%></td>
        <td><%= r.branch %></td>
        <td><%= r.suite %></td>
        <td><%= link_to "link to report", r.link %></td>
      </tr>
  <% end %>
</table>
</body>
</html>
